.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  padding: 0 16%;
  margin-top: -192px;
  z-index: 1;
}

.about-me__welcome {
  font-size: 40px;
}

.about-me span {
  text-shadow:
    0 0 10px rgba(57, 255, 255, 0.8),
    0 0 20px rgba(0, 233, 255, 0.8),
    0 0 22px rgba(0, 208, 255, 0.8),
    0 0 40px rgba(0, 181, 255, 0.8),
    0 0 60px rgba(219, 66, 217, 0.8),
    0 0 80px rgba(219, 66, 217, 0.8),
    0 0 100px rgba(219, 66, 217, 0.5),
    0 0 140px rgba(219, 66, 217, 0.5),
    0 0 200px rgba(219, 66, 217, 0.5);
  animation: neon 4s infinite;
  animation-timing-function: linear;
}

@keyframes neon {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  63% {
    opacity: 1;
  }

  93% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  97% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.about-me__description {
  margin-top: 160px;
}

@media (max-width: $desktop-width) {
  .about-me {
    padding: 0 170px;
  }
}

@media (max-width: $tablet-wide) {
  .about-me {
    padding: 0 170px;
  }

  .about-me__welcome {
    font-size: 31px;
  }
}

@media (max-width: $tablet-width) {
  .about-me {
    padding: 0 60px;
    margin-top: -188px;
  }

  .about-me__welcome {
    font-size: 30px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .about-me__description {
    font-size: $nav-tablet;
    margin-top: 104px;
  }
}
