.about-background {
  display: flex;
  flex-direction: column;
  width: auto;
  color: $white;
  margin-top: 56px;
}

.about-background__pic {
  position: relative;
  width: auto;
  min-height: 400px;
  background-image: radial-gradient(circle, #080131, #180022, #190015, #120008, #000000);
  background-size: cover;
  background-position: 70% 38%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $gray-black;
}
