.intro__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: auto;
  margin-top: 100px;
  padding: 15px;
}

.intro__wrapper::before {
  position: absolute;
  content: "";
  width: 700px;
  height: 9px;
  background-image: linear-gradient(to right, #033bfd, #7933f7, #ab29f0, #d122e8, #f121df);
  top: -3px;
  right: 46px;
  transform: skewX(-48deg);

  box-shadow:
    0 0 10px rgba(57, 255, 255, 0.8),
    0 0 20px rgba(0, 233, 255, 0.8),
    0 0 22px rgba(0, 208, 255, 0.8),
    0 0 40px rgba(0, 181, 255, 0.8),
    0 0 60px rgba(219, 66, 217, 0.8),
    0 0 80px rgba(219, 66, 217, 0.8),
    0 0 100px rgba(219, 66, 217, 0.5),
    0 0 140px rgba(219, 66, 217, 0.5),
    0 0 200px rgba(219, 66, 217, 0.5);
  animation: neon 4s infinite;
  animation-timing-function: linear;
}

.intro__wrapper::after {
  position: absolute;
  content: "";
  width: 700px;
  height: 9px;
  background-image: linear-gradient(to left, #033bfd, #7933f7, #ab29f0, #d122e8, #f121df);
  bottom: 0;
  left: 80px;
  transform: skewX(-48deg);
  z-index: 0;

  box-shadow:
    0 0 10px rgba(57, 255, 255, 0.8),
    0 0 20px rgba(0, 233, 255, 0.8),
    0 0 22px rgba(0, 208, 255, 0.8),
    0 0 40px rgba(0, 181, 255, 0.8),
    0 0 60px rgba(219, 66, 217, 0.8),
    0 0 80px rgba(219, 66, 217, 0.8),
    0 0 100px rgba(219, 66, 217, 0.5),
    0 0 140px rgba(219, 66, 217, 0.5),
    0 0 200px rgba(219, 66, 217, 0.5);
  animation: neon 6s infinite;
  animation-timing-function: linear;
}

@keyframes neon {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  93% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  97% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


.intro__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 710px;
  height: 275px;
  padding-left: 32px;
  background-color: $gray-black;
  border-radius: 20px 0 20px 0;
  z-index: 1;
}

.intro__text::before {
  position: absolute;
  content: "";
  top: 0;
  right: -52px;
  width: 400px;
  height: 275px;

  background-color: #222222;
  transform: skew(-20deg);
  z-index: -1;
}

.intro__text::after {
  position: absolute;
  content: "";
  top: 0;
  right: -451px;
  width: 104px;
  height: 275px;
  background-color: #222222;
  transform: skew(-20deg);
  z-index: -1;
}

.intro__wrapper p {
  color: $white;
}

.intro__welcome {
  color: $white;
  text-transform: uppercase;
}

.intro__photo {
  width: 400px;
  height: 275px;
}

@media (max-width: $desktop-wide) {
  .intro__text::after {
    right: 0;
  }

  .intro__photo {
    border-radius: 20px 0 20px 0;
  }
}

@media (max-width: $desktop-width) {
  .intro__text::after {
    display: none;
    right: 0;
  }

  .intro__text::before {
    display: none;
  }

  .intro__text {
    padding-right: 10px;
    border-radius: 20px 0 0 0;
  }

  .intro__photo {
    border-radius: 0 0 40px 0;
  }
}

@media (max-width: $tablet-wide) {
  .intro__wrapper {
    flex-direction: column;
    width: auto;
  }

  .intro__wrapper::after {
    width: 70%;
    left: 50px;
  }

  .intro__wrapper::before {
    width: 70%;
    right: 50px;
  }

  .intro__text {
    width: auto;
    padding: 0 20px;
    border-radius: 20px 0 20px 0;
  }

  .intro__text::after {
    display: none;
  }

  .intro__text::before {
    display: none;
  }

  .intro__photo {
    border-radius: 20px 0 20px 0;
  }
}

@media (max-width: $tablet-width) {
  .intro__text {
    height: auto;
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 20px 0 20px 0;
  }

  .intro__photo {
    width: 70%;
    height: auto;
    border-radius: 20px 0 20px 0;
  }
}
