.main-nav {
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  width: 1200px;

  color: $white;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;

}

/*.main-nav__logo {
  background-image: url("../img/logo-avv.png");
}*/

.main-nav__avv {
  width: 150px;
  height: 50px;
}

.main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;

  width: 500px;
  margin-left: 100px;
}

.main-nav__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  list-style: none;
}

.main-nav__list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size: $font-small;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
