.page-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  background-color: $gray-main;
  border-bottom: 1px solid $gray-border;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  z-index: 2;
}
