.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;

  color: $white;
  background-color: $gray-black;

  font-size: 16px;
  font-weight: bold;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #171717;
}

.page-footer__wrapper:nth-child(1) {
  align-items: flex-end;
}

.page-footer__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 550px;
  padding-top: 7px;
  padding-bottom: 7px;

  color: $white;
  background-color: #222222;
  border-top: 1px solid #333333;
  border-top-left-radius: 45px;
  font-size: 12px;
  font-weight: 400;
}

.page-footer__search p {
  margin: 0 20px;
}

.page-footer__mail-tel {
  margin: 0 20px;
  text-decoration: none;
  color: $white;
}

.page-footer__search p:first-child {
  margin-left: 0;
}

.page-footer__call-button {
  border: 0;
  margin-left: 25px;
  padding: 0 10px;

  cursor: pointer;
  font-size: $font-small;
  color: $white;
  border-radius: 30px;
  background-color: #13aff0;
  transition-duration: 0.7s;
}

.page-footer__call-button:hover {
  transition: all 0.5s ease;
  background-color: #3283cc;
}

.page-footer__social-wrapper {
  width: 100%;
  background-color: #222222;
  border-top: 1px solid #333333;
}

.page-footer__list {
  display: flex;
  justify-content: center;
}

.page-footer__item {
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
  transition-duration: 0.7s;
}

.page-footer__item:nth-child(1) {
  background-color: #3b5998;
  border-radius: 3px;
}

.page-footer__item:nth-child(2) {
  background-color: #32a9e1;
  border-radius: 3px;
}

.page-footer__item:nth-child(3) {
  background-image: linear-gradient(137deg, #4e60d3 0%, #913baf 14%, #d52d88 76%, #f26d4f 100%);
  border-radius: 3px;
}

.page-footer__item:nth-child(1):hover {
  background-color: #2d4372;
  transition: 0.7s;
}

.page-footer__item:nth-child(2):hover {
  background-color: #2694e9;
  transition: 0.7s;
}

.page-footer__link {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
}

.page-footer__facebook {
  fill: $white;
  margin-right: 5px;
}

.page-footer__telegram {
  fill: $white;
  margin-right: 5px;
}

.page-footer__instagram {
  fill: $white;
  margin-right: 5px;
}

.page-footer__description {
  color: $white;
  font-size: $font-small;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #9b9b9b;
  background-color: #171717;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: $tablet-width) {
  .page-footer__list {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .page-footer__item {
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .page-footer__search {
    width: 100%;
  }

  .page-footer__search p:first-child {
    margin: 0;
  }

  .page-footer__copyright span {
    padding: 0 10px;
    text-align: center;
  }
}
