.web-page {
  width: auto;
  display: flex;
  flex-direction: column;
  color: $white;
}

.web-page__head {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  background-image: linear-gradient(to right, #000000, #060303, #0c0705, #110a06, #130e07, #241d0f, #332c13, #403d17, #685f1c, #94821f, #c7a521, #fec922);
  border-bottom: 1px solid #222222;
}

.web-page__sign {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-left: 150px;
}

.web-page__info {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: $font-portfolio;
}

.web-page__info h1 {
  padding-right: 20px;
  //border-bottom: 6px solid #fec922;
  text-shadow:
    0 0 10px rgba(89, 78, 47, 0.8),
    0 0 20px rgba(128, 115, 76, 0.8),
    0 0 22px rgba(153, 135, 80, 0.8),
    0 0 40px rgba(185, 160, 80, 0.8),
    0 0 60px rgba(193, 165, 75, 0.8),
    0 0 80px rgba(204, 173, 73, 0.8),
    0 0 100px rgba(218, 183, 70, 0.8),
    0 0 140px rgba(240, 194, 49, 0.8),
    0 0 200px rgba(254, 201, 34, 0.9);
}

.web-page__sign span {
  font-size: $font-about;
  color: #fec922;
  text-shadow:
    0 0 10px rgba(89, 78, 47, 0.4),
    0 0 20px rgba(128, 115, 76, 0.4),
    0 0 22px rgba(153, 135, 80, 0.4),
    0 0 40px rgba(185, 160, 80, 0.4),
    0 0 60px rgba(193, 165, 75, 0.4),
    0 0 80px rgba(204, 173, 73, 0.4),
    0 0 100px rgba(218, 183, 70, 0.4),
    0 0 140px rgba(240, 194, 49, 0.4),
    0 0 200px rgba(254, 201, 34, 0.4);
}

.web-page__wrapper {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.web-page__projects {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.web-page__projects p {
  display: flex;
  padding: 0 10px;
  margin: 0;
}

.web-page__portfolio {
  padding: 0 200px;
}

.web-page__title {
  width: 104px;
  padding-bottom: 6px;
  border-bottom: 6px solid #fec922;
}

.web-page__item {
  display: flex;
  width: 320px;
  height: 50%;
  margin: 4px;
  box-sizing: border-box;
  border: 1px solid #222222;
  transition-duration: 0.7s;
}

.web-page__item img {
  width: 380px;
  height: 340px;
  object-fit: cover;
}

.web-page__item:hover {
  border: 1px solid #333333;
  cursor: pointer;
}

.web-page__link {
  display: flex;
}

.web-page__item a {
  display: flex;
  position: relative;
  width: 320px;
}

.web-page__item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.web-page__item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25%;
  opacity: 0;
}

.web-page__item a:hover::before,
.web-page__item a:hover::after {
  opacity: 0.8;
}

@media (max-width: $tablet-wide) {
  .web-page__wrapper {
    padding: 30px 0;
  }

  .web-page__portfolio {
    padding: 0 50px;
  }
}

@media (max-width: $tablet-width) {
  .web-page__wrapper {
    padding: 0;
  }

  .web-page__projects {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .web-page__projects p {
    padding: 0 10px;
    margin-top: 10px;
  }

  .web-page__portfolio {
    padding: 0 10px;
  }

  .web-page__title {
    margin-left: 10px;
  }

  .web-page__head {
    padding: 0 50px;
  }

  .web-page__sign {
    padding-left: 0;
  }

  .web-page__sign span {
    padding-top: 14px;
  }

  .web-page__item {
    width: 310px;
  }

  .web-page__link {
    width: auto;
  }
}
